
* {
	box-sizing: border-box;
}

body {
	font: 300 8px/1.1 'Roboto', 'Arial', 'Helvetica', sans-serif;
	background: #ffffff;
	color: #000000;
	max-width: 100%;
	margin: 0;
	padding: 0 15px 0 15px;
}

button {
    border-radius: 26px;
	border-style: none;
    background: white;
    padding: 0;
	font-family: 'Roboto';
	letter-spacing:1px;
	color: rgb(1,125,251);
	transition: all 0.3s ease 0s;
	height: 30px;
}

button:hover {
  background-color: #898989;
  box-shadow: 0px 10px 70px #e4f0fd;
  color: #087cf4;
}

.button-menu {
	box-shadow: 0 0 65px rgba(1,125,251,0.25);
    margin-left: 15px;
    width: 167px;
}

.button-header {
	box-shadow: 0 0 145px rgba(1,125,251,0.35);
    margin-left: 15px;
    width: 137px;
}


.logoAtis {
	margin: 0;
	font-family: 'Molle', cursive;
	color: rgb(1,125,251);
	font-size: 24px;
	text-decoration: none;
}

.logoAtis:hover {
	margin: 0;
	font-family: 'Molle', cursive;
	color: rgb(1,105,241);
	font-size: 26px;
	text-decoration: none;
}


.main {
	height: 100vh;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 450px;
	align-content: center;
	margin-bottom: 3%;
}

.main-top {
	background: url(../images/first-background.png) no-repeat center top / cover;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.container {
	width: 80%;
}

.nav-bar{
	margin-top: 35px;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.main-bar {
	display: flex;	
	width: 60%;
	align-items: center;
} 

.menu {
	width: 100%;
}

.menu-list{
	display: flex;
	padding: 0;
	list-style: none;
	justify-content: space-between;
}

.item-link {
 	opacity: 0.6;
 	color: rgb(105,120,153);
 	text-decoration: none;
	font-size: 12px;
}

.item-link:hover {
 	color: blue;
 	font-weight: bold;
}

.titles {
	margin-top: 4%;
	width: 100%;
	display: block;

}

.titles-first {
	font-family: 'Molle';
	color: rgb(1,125,251);
	line-height: 72px;
	font-size: 106px;
	text-align: center;
	margin-bottom: 0;
	letter-spacing:2px
}

.titles-second {
	line-height: 62px;
	font-family: 'Roboto';
	color: rgb(1,125,251);
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing:3.5px
}

.menu-form {
	background-color: rgb(1,125,251);
	height: 14%;
	width: 100%;
	display: flex;
	justify-content: center;
 }

.form-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form-list-item {
	display: flex;
	align-content: center;
	justify-content: center;
    list-style: none;
	border-style: none none solid none;
	border-color: #379aff;
}


.form-input {
	align-self: center;
	background-color: rgb(1,125,251);
	border-style: none;
	color: white;
	letter-spacing:1px;
	text-align: left;
}

#cityInput {

	width: 150px;
}

.fa {
	color: #379aff;
	margin-right: 5px;
	align-self: center;
}


.star-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-self: left;
	padding: 0;
}

.hotel-stat {

}

.search-item {
	background-color: white;
	align-self: center;
	border-radius: 50%;
    margin: auto;
    padding: 7px;
    cursor: pointer;
}

.fa-search {
	margin: 0;
	padding: 0;
	align-self: center;
}

.places {
	height: 100vh;
	flex-direction: column;
	width: 100%;
	min-height: 450px;
}

.title-places {
	width: 100%;
	vertical-align: center;
	flex-direction: column;
}

.title-text {
	font-size: 16px;
	color: rgb(105,120,153);
	font-family: "Roboto";
	opacity: 0.4;
	margin: 0 0 2% 0;
	letter-spacing:3px;
	text-align: center;
}

.top-part {
	display: inline-flex;
	flex-direction: row;
	height: 51%;
	width: 100%;
}

.buttom-part {
	display: inline-flex;
	flex-direction: row;
	height: 40%;
	align-self: baseline;
	width: 100%;
	margin-top: 15px;
}

.first-places {
	display: inline-flex;
	flex-direction: column;
	height: 100%;
	width: 30%
}

.first-places-part1 {
	position: relative;
	height: 50%;
	width: 100%;
	margin: 0 0 7.5px 0;
	background: url(../images/thessaloniki.png) no-repeat center top / cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.first-places-part2 {
	position: relative;
	height: 50%;
	width: 100%;
	margin: 7.5px 0 0 0;
	background: url(../images/halkidiki.png) no-repeat center top / cover;
	.first-places
	background-repeat: no-repeat;
}

.second-places {
	display: inline-flex;
	flex-direction: column;
	height: 100%;
	width: 40%;
	margin: 0 15px 0 15px;
	background: url(../images/crete.png) no-repeat center top / cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.second-places-text {
	text-align: center;
 	font-size: 40px;
	font-weight: 600;
	color: rgb(255,255,255);
	letter-spacing: 2px;
	margin-top: 22%;
	margin-bottom: 5px;
}

.places-menu-list {
	display: inline-flex;
	padding-left: 0;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
	width: 70%;
	list-style: none;
	margin-top: 0;
}

.places-list-item {
	border-radius: 12px;
	border: 1px solid rgba(255,255,255,0.35);
	padding: 2px 10px 2px 10px;
}

.places-list-item:hover {
	border-radius: 16px;
	border: 2px solid rgba(1,75,126,0.35);
	background-color: rgba(1,75,126,0.8);
	padding: 2px 10px 2px 10px;
}

.places-item-link {
	font-size: 8px;
	font-weight: 400;
	text-decoration: none;
	color: rgb(255,255,255);
	transition: all 0.3s ease 0s;
	width: 95px;
	height: 30px;

}

.third-places {
	display: inline-flex;
	flex-direction: column;
	height: 100%;
	width: 30%
}

.third-places-part1 {
	position: relative;
	height: 50%;
	width: 100%;
	margin: 0 0 7.5px 0;
	background: url(../images/athens.png) no-repeat center top / cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.third-places-part2 {
	position: relative;
	height: 50%;
	width: 100%;
	margin: 7.5px 0 0 0;
	background: url(../images/mykonos.png) no-repeat center top / cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


.fourth-places {
	position: relative;
	width: 50%;
	height: 100%;
	border: 0;
	margin-right: 7.5px;
	background: url(../images/meteora.png) no-repeat center top / cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


.fifth-places {
	position: relative;
	width: 50%;
	height: 100%;
	border: 0;
	margin-left: 7.5px;
	background: url(../images/mytros_beach.png) no-repeat center top / cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.places-caption {
	position: absolute;
 	font-size: 20px;
	font-weight: 600;
	color: rgb(255,255,255);
	letter-spacing: 2px;
 	bottom: 15px;
 	left: 15px;
}

.popular-hottels {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	border-style: solid;
	border-color: red;
	background-color: #f9f9f9;
	height: calc(100vh + 70px);
	margin: 30px auto;
	display: inline-flex;
	width: 100%;
	min-height: 450px;
}


.title-hottels {
	margin-top: 1.5%;
	display: flex;
	vertical-align: center;
	justify-content:center;
	
}

.title-hottels h1{
	margin: 1% 0 2% 0;
}

.hottels-body {
	align-self:center;
	display: inline-flex;
	flex-direction: column;
	height: 100vh;
}

.my-hottels-top-line {
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	height: 50%;

}

.my-hottels-bottom-line {
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	height: 50%;
	
}

.my-hottels {
	position: relative;
	border-style: solid;
	width: 25%;
	height: auto;
	border: 3;
	background: url(../images/Photo.png) no-repeat center top / cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 15px;
	display: flex;
	justify-content: center;
}

.button-hottels {
	width: 137px;
	border-radius: 25px;
	margin-bottom: -15px;
	box-shadow: 0 0 65px rgba(163,163,163,0.5);
	background-color: #ffffff;
	align-self: flex-end;
}

.more-information {
	display: inline-flex;
	justify-content: center;
	vertical-align: center;
	margin-top: 1.5%;
	margin-bottom: 3.5%;
}

.hottels-footer-button {
    border-radius: 26px;
	border-style: solid;
    background: #f9f9f9;
    padding: 0;
	font-family: 'Roboto';
 	font-size: 10px;
 	padding: 3px 20px 3px 20px;
	color: rgb(197,197,197);
	transition: all 0.3s ease 0s;
	height: 30px;
}

.hottels-footer-button:hover {
  background-color: #898989;
  box-shadow: 0px 10px 70px #e4f0fd;
  color: #087cf4;
  margin-left: 15px;
  width: 137px;
}

.part3 {
	height: 100vh;
	width: 100%;
	background: url(../images/bg_third_part.png) no-repeat center top / cover;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.part3-body {
	position: relative;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.arrows {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.arrow-left {
	width: 45px;
	height: 45px;
	border: 2px solid #f9f9f9;
	border-width: 0 0 1px 1px;
	transform: rotate(45deg);
}

.arrow-right {
	width: 45px;
	height: 45px;
	border: 2px solid #f9f9f9;
	border-width: 1px 1px 0 0;
	transform: rotate(45deg);
}

.text-body {
	position: absolute;
	height: 100%;
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
}

.part3-line1 {
	font-size: 50px;
	line-height: 61px;
	color: rgb(255,255,255);
	font-family: "Roboto";
	font-weight: 800;
	text-align: justify; /* For Edge */
    -moz-text-align-last: center; /* For Firefox prior 58.0 */
    text-align-last: center;
    margin: 0;
}

.greece-font {
	font-family: 'Molle', italic;
	font-size: 70px;
	line-height: 61px;
	color: rgb(13,207,255);
	font-weight: 300;
}

.part3-line2 {
	font-size: 12px;
	line-height: 28px;
	color: rgb(255,255,255);
	font-family: "Roboto";
	text-align: justify; /* For Edge */
	-moz-text-align-last: center; /* For Firefox prior 58.0 */
	text-align-last: center;
}

.part3-line3 {
	font-size: 10px;
	line-height: 15px;
	color: rgb(255,255,255);
	font-family: "Roboto";
	font-weight: bold;
    text-align: center;
}

.part3-threedots {
	font-size: 16px;
	line-height: 15px;
	color: rgb(255,255,255);
	font-family: "Roboto";
	font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

.bluedot {
	color: #0dcfff;
}

.myfooter {
	width: 100%;
	height: 150px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.footer-logoAtis {
	padding-top: 30px;
	font-family: 'Molle', cursive;
	font-size: 24px;
	color: #bdbdbd;
	text-align: center;
	margin-bottom: 0;
}

.copyright-text {
	font-size: 12px;
	color: rgb(189,189,189);
	text-align: center;
}