	
@media(max-width:767px) {

	.nav-bar {
		margin-top: 10px;
	}

	.titles-first {
		font-size: 60px;
		line-height: 12px;
	}

@media(max-width:1023px) {
	.item-link {
		font-size:8px;
	}

	.main {
		height: 768px;
	}

	.form-input {
		display: none;
	}

	.fa-2x {
		font-size: 3em;
	}

	.top-part {
		height: calc(100vh/3);
	}

	.buttom-part {
		height: calc(100vh/2.5);
	}


	.places {
		height: 100%;
	}
]


	









]